@charset "utf-8"

body {
  font-size: 14px;
  font-family; Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

p {
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

section h2 {
  text-align: center;
  margin: 0 0 60px;
}

section:nth-child(even) {
  background: #fff;
}

footer .container {
  text-align: center;
}

.header-mobile-menu {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
.header-pc-menu {
  display: none;
}

.features img {
  width: 100%;
}

.features item {
  margin-bottom: 60px;
}

.features item:last-child {
  margin-bottom: 0px;
}

.news img {
  width: 100%;
}

@media (min-width: 570px) {
  .features p {
    width: 45%;
  }
  .features img {
    width: 50%
  }
  .pull-right {
    float: right;
    padding-left: 5%
  }
  .pull-left {
    float: left;
    padding-right: 5%
  }
  .features .item {
    overflow: hidden;
  }
  .news .container {
    display: flex;
    justify-content: space-between;
  }
  .news .item {
    width: 30%;
  }
  .news .item img {
    width: 100%;
  }
}

@media (min-width: 820px) {

  .container {
    width: 820px;
  }

  .header-mobile-menu {
    display: none;
  }
  .header-pc-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
  }

  .header-pc-menu > li {
    display: inline-block;
    width: 60px;
    text-align: center;
    cursor: pointer;
  }

}
